.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

.col-2 {
    flex-basis: 25%;
}

.col-2 img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    overflow: hidden;
}

.col-2 h2, p {
    padding: 10px;
    text-align: left;
    margin-right: 100px;
    margin-left: -250px;
}

.col-2 a {
    text-decoration: none;
    color: black;
}

.col-2 .cart-btn {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    margin-left: -600px;
    margin-top: 25px;
    cursor: pointer;
}

.col-2 .size-variant {
    padding: 10px;
    margin-left: -220px;
}

.quantity-selector {
    margin-left: -550px;
}

@media (max-width: 768px) {
    .col-2 {
        flex-basis: 50%;
    }
    .col-2 h2, p {
        margin-left: 125px;
    }

    .col-2 .cart-btn {
        margin-left: -150px;
        margin-bottom: 25px;
    }
    
    .quantity-selector {
        margin-left: 25px;
    }
}

@media (max-width: 500px) {
    .col-2 {
        flex-basis: 100%;
    }
}
