* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    padding: 10px;
}

header h1 {
    color: white;
}

header a {
    text-decoration: none;
    color: white;
}

nav {
    background-color: red;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

header .search {
    float: right;
    margin-top: -35px;
}

.search input {
    padding: 10px;
    width: 500px;
}

.search .btn {
    background-color: red;
    padding: 11px;
    border: none;
    cursor: pointer;
    margin-left: -5px;
}

/* assets/css/style.css */

.result-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.no-results {
    color: #888;
    font-style: italic;
    padding: 10px;
}

main {
    max-width: 1250px;
    margin: auto;
    margin-top: 25px;
}

footer {
    background-color: black;
    padding: 20px;
}

@media (max-width: 768px) {
    .search {
        display: none;
    }

    nav {
        display: none;
    }
}

@media (max-width: 500px) {
    
}